/* .item must be first */
.activePage {
  background-color: #F94C10;
  color: white !important;
  outline: 4px solid #ffbfa9;
  border-radius: 4px;
  transition: .3s;
}

.disabled-page {
  color: #808e9b;
}

.next {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #F94C10;
  color: white;
  position: absolute;
  right: -45px;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination {
  position: relative;
  left: 30px;
  align-items: center;
  color: rgb(89, 89, 89);
  background-color: #f5f5f5;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 85%;
  margin: 0 20px;
  margin-top: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 671px) {
  .pagination {
    width: 75%;
  }
}

.pagination-page {
  font-weight: 700;
  align-items: center;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 60px;
}

.previous {
  position: absolute;
  background-color: #F94C10;
  left: 0;
  font-size: 16px;
  color: white;
  height: 40px;
  left: -45px;
  position: absolute;
  width: 40px;
  border-radius: 5px;
}
